<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/cbc.css">
  <title>UniCoins</title>
</head>
<body>
  <div class="container">
    <div class="left-section">
        
        <img src="/images/unicoin-logo.jpg" alt="UniCoin Logo">
 
      <h2>Empowering Campus Life with UniCoins</h2>
      <p>Discover how UniCoins can transform your college</p>
      <div class="bottom-icons">
        <img src="/images/" alt="Icon 1"> 
        <img src="icon-2.png" alt="Icon 2"> 
      </div>
    </div>
    <div class="right-section">
      <h1>Unlock the Convenience of UniCoins</h1>
      <p>UniCoins is the essential campus financial tool, providing you with a centralized platform to manage your funds, track expenses, and make payments with ease. Say goodbye to the hassle of carrying cash and embrace the future of campus life.</p>
      <a href="/login">Explore UniCoins</a>
    </div>
    <img src="company-logo.png" alt="Company Logo" class="company-logo">
  </div>
</body>
</html>